$base-color: #495057;

@mixin setColorForBgAndFont($bgColor, $fontColor) {
  background-color: $bgColor;
  color: $fontColor;
}

body {
  @include setColorForBgAndFont($base-color, $base-color);

  height: 100vh;
}

a,
#quote-box {
  @include setColorForBgAndFont(white, $base-color);
}

a {
  text-decoration: none;
}

#quote-box {
  border-radius: 0.5rem;

  margin: 0 auto;

  padding: 3vw;
}

#text,
#author {
  opacity: 0;
}

#text::before {
  content: '" ';
}

#text {
  text-align: center;
}

#author::before {
  content: "-- ";
}

#author {
  text-align: right;
}

div[class*="align-self-center"] {
  text-align: end;
}

i[class*="fab"]:hover {
  opacity: 0.8;
  cursor: pointer;
}

#new-quote {
  @include setColorForBgAndFont($base-color, white);

  border-color: $base-color;
}
