main {
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 100vh;
}

a {
  text-decoration: none;
}

#quote-box {
  border: 1px solid black;
  border-radius: 0.5rem;

  width: 35vw;
  height: fit-content;

  padding: 1rem;
}

#text::before {
  content: '" ';
}

#text {
  text-align: center;
}

#author {
  text-align: right;
}
