@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

@mixin setColorForBgAndFont($bgColor, $fontColor) {
  background-color: $bgColor;
  color: $fontColor;
}

body {
  @include setColorForBgAndFont($gray-700, $gray-700);

  height: 100vh;
}

a,
#quote-box {
  @include setColorForBgAndFont(white, $gray-700);
}

a {
  text-decoration: none;
}

#quote-box {
  border-radius: 0.5rem;

  margin: 0 auto;

  padding: 3vw;
}

#text,
#author {
  opacity: 0;
}

#text::before {
  content: '" ';
}

#text {
  text-align: center;
}

#author::before {
  content: "-- ";
}

#author {
  text-align: right;
}

div[class*="align-self-center"] {
  text-align: end;
}

i[class*="fab"]:hover,
#new-quote:hover {
  opacity: 0.8;
  cursor: pointer;
}

#new-quote {
  @include setColorForBgAndFont($gray-700, white);

  border-color: $gray-700;
}
